.aw-loading-animate {
	-webkit-animation: rotateThis 1s linear infinite; /* Chrome, Safari 5 */
	   -moz-animation: rotateThis 1s linear infinite; /* Firefox 5-15 */
	     -o-animation: rotateThis 1s linear infinite; /* Opera 12+ */
	        animation: rotateThis 1s linear infinite; /* Chrome, Firefox 16+,
	                                                  IE 10+, Safari 5 */

}

@-webkit-keyframes rotateThis {
    from { -webkit-transform: scale( 1 ) rotate( 0deg ); }
    to   { -webkit-transform: scale( 1 ) rotate( 360deg ); }
}

@-moz-keyframes rotateThis {
    from { -moz-transform: scale( 1 ) rotate( 0deg ); }
    to   { -moz-transform: scale( 1 ) rotate( 360deg ); }
}

@-o-keyframes rotateThis {
    from { -o-transform: scale( 1 ) rotate( 0deg ); }
    to   { -o-transform: scale( 1 ) rotate( 360deg ); }
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg ); }
    to   { transform: scale( 1 ) rotate( 360deg ); }
}

.aw-loading {
	width: 100%;
	text-align: center;
	padding: 10px;
}

.aw-loading-spinner {
	font-size: 30px;
	color: #5AC0DD;
	text-align: center;
	vertical-align: middle;
}


.aw_wrap {
	/*border: 2px dashed gray;*/
 overflow: auto;
 /*overflow: visible;*/
}

.aw_wrap .content .thumbLink{}

.aw_wrap_playlist{}

.aw_wrap_playlist .title{
	font-size: 20px;
	margin: 20px 0 10px;
	font-weight: bold;
}

.aw_wrap_playlist .playlist{
	background-color: #d6e7d4;
	border: 1px solid #D5D5D5;
	margin: 0px 0px 15px 0px;
	padding: 0px 10px 15px;
	width: 100%;
}
.aw_wrap_playlist .playlist:nth-child(even){
	background-color: #ebe0e0;
}

.aw_wrap_video {
/*	display: inline-block;
	position: relative;
	list-style: none outside none;
	padding: 10px 0;
	text-align: left;
	line-height: 0;
	font-size: 1px;
	text-justify: newspaper;
	zoom: 1;
	text-align-last: justify;
*/}

.aw_wrap_playlist .catalog .item{
	margin-right: 20px;
	width: 217px;
	padding-bottom: 20px;
}
.aw_wrap_playlist .catalog .item:nth-child(4n){
	margin-right: 0px;
}

.aw_wrap_video .item {}

.aw_wrap_video .owl-stage-outer{
	margin: 0 35px;
}

.aw_wrap_video .item .title {
	font-size: 15px;
	line-height: 20px;
	margin: 0;
	padding: 10px 5px 0;
	color: #141613;
}
.aw_wrap_video .item .desc {
	color: #6f7170;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
	padding: 10px 5px 0;
}
.aw_wrap_video .item .thumb {
	border: 2px solid #fff;
	/*height: 300px;*/
}


/*  pagination  */

/* .aw_wrap[data-aw-pagination="scroll"] > .paging {
	position: fixed;
	right: 30px;
	top: 70px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 0.5;
}
.aw_wrap[data-aw-pagination="scroll"] > .paging li > span,
.aw_wrap[data-aw-pagination="scroll"] > .paging li > a {
	border: none;
	background: #000;
	color: #CCC;
	font-weight: bold;
	zoom: 1;
	padding: 5px 7px;
}


.aw_wrap[data-aw-pagination="scroll"] > .paging ul li.active a,
.aw_wrap[data-aw-pagination="scroll"] > .paging ul li:hover a
{
	color: #FFF;
} */

.owl-prev, .owl-next {
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	color: #9D0C11;
	font-family: cursive;
	z-index: 1;
	top: 33px;
}
.owl-prev:hover,
.owl-next:hover{
	color:#000;
	text-decoration: none;
}
.owl-prev {
	left: 5px;
}
.owl-next{
	right: 5px;
}
